extends base

block content
  link(href="/stylesheets/content.css", rel="stylesheet")
  if errors
    each error, i in errors
      div.alert.alert-danger #{error.msg}
  if contents
    h1 دوره آموزشی #{contents.name}
      if !buys
        div(class="buy")
          form(method="post" action=`/content/${contents._id}`)
            .form-group
              label شماره شناسایی دوره : #{contents._id}
              input.form-control(name="contentID", type="text", placeholder="شماره شناسایی را در این قسمت وارد کنید")
            input.btn.btn-primary(type="submit", name="buy", value="خرید دوره")
    div(class="main")
      if buys
        if subcontents
          each subcontent in subcontents
            if !subcontent.lock && !subcontent.certificate
              div(class="contents")
                h3 محتوای آموزشی #{subcontent.name}
                div(class="handouts")
                  a(href='#') جزوه آموزشی
                  a(href='#') کتاب آموزشی
                  a(href='#') ویدئو آموزشی
              div(class="exam")
                a(href=`/content/${contents._id}/${subcontent._id}`) آزمون : #{subcontent.name}
                p نمره آزمون : #{subcontent.score}
            div(class="certificate")
              if subcontent.certificate
                a(href='#') گواهی پایان دوره