extends base

block content
  link(href='/stylesheets/home.css', rel='stylesheet')
  h1 Welcome
  div(class="main")
    div(class="course")
      if courses
        each course in courses
          div(class="courseItems")
            img(src=`${course.image}`)
            h4 #{course.name}
            p Details : #{course.details}
            div Buy it for 
              span #{course.price}
    div(class="content")
      if contents
        each content in contents
          a(href=`/content/${content._id}`) more...