extends base

block content
  link(href='/stylesheets/home.css', rel='stylesheet')
  div(class="main")
    if courses
      each course in courses
        div(class="courses")
          img(src=`${course.image}`)
          div(class="course")
            h4 دوره آموزشی #{course.name}
            div(class="details")
              div
                span #{course.details}
              div قیمت : 
                span #{course.price}
              a(href=`/content/${course.contentID}`) مشاهده دوره