extends ../base

block content
  link(href='/stylesheets/user/profile.css', rel='stylesheet')
  h1 پروفایل کاربری 
  div(class="main")
    if user
      div(class="info")
          h4 نام کاربری : #{user.username}
          p رایانامه : #{user.email}
          p شماره دانشجویی : #{user.studentNumber}
          p مدت زمان مطالعه : #{user.studyTime} ثانیه
          a(href="/profile/edit") ویرایش پروفایل کاربری
      div(class="purchased")
        h4 لیست دوره‌های خریداری شده :
        if buys
          each buy in buys
            h4 نام دوره : #{buy.contentName}